
# Created by https://www.toptal.com/developers/gitignore/api/vuejs,cypressio
# Edit at https://www.toptal.com/developers/gitignore?templates=vuejs,cypressio

### CypressIO ###
# gitignore template for the CypressIO, browser test framework
# website: https://www.cypress.io/

cypress/results/*
cypress/reports/*
cypress/screenshots/*
cypress/videos/*

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log

# End of https://www.toptal.com/developers/gitignore/api/vuejs,cypressio

coverage
.vite-ssg-temp
storybook-static/